body {
   background-image: url(img/left-banner-image.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.container {
   width: 100%;
   height: 120px;
}

.container ul {
   float: right;
   margin-top: -10px;
}

.container ul li {
   display: inline-block;
   text-align: center;
   text-transform: capitalize;
   padding: 10px;
}

.container ul li img {
   margin-bottom: -10px;
}

.container ul li button {
   background-color: blue;
   height: 50px;
   width: 100px;
   padding: 5px;
   font-size: large;
   color: white;
}

.holder {
   display: flex;
   width: 60%;
   margin-left: 250px;
   padding: 10px;
   align-items: center;
   justify-content: center;
}

.item {
   margin: 2px;
   font-size: 90px;
   font-weight: 100;
   text-align: center;
}

.item:nth-child(1) {
   color: blue;
}

.item:nth-child(2) {
   color: red;
}

.item:nth-child(3) {
   color: gold;
}

.item:nth-child(4) {
   color: blue;
}

.item:nth-child(5) {
   color: green;
}

.item:nth-child(6) {
   color: blue;
}

.inputpr {
   text-align: center;
}

.inputpr input {
   width: 40%;
   height: 40px;
   margin-left: -20px;
   border-radius: 100px;
   background-image: url(img/magnifying-glass.png), url(img/Google_mic.svg.png);
   background-repeat: no-repeat, no-repeat;
   background-position: left, right;
   background-origin: content-box, content-box;
}

.flex {
   display: flex;
   text-align: center;
   margin: 30px;
   justify-content: center;
}

.item-img {
   margin: 20px;
   border-radius: 50px;
}

.flex2 img p {
   display: flex;
}

.flex2 {
   display: flex;
   margin: 31px;
   justify-content: center;
}

.flexbox {
   display: flex;
   margin-left: 40%;
   margin-right: 40%;
   justify-content: space-between;
   padding: 5px;
   margin-top: -50px;
}

.flexbox p {
   text-transform: capitalize;
   padding: 20px;
   font-size: 15px;
   background-color: rgb(63, 56, 56);
}

footer {
   height: 100px;
}

footer .container {
   margin-bottom: -100px;
   height: 50px;
}

/* Media Query */
@media screen and (max-width: 768px) {
   .container {
      height: 80px;
   }

   .container ul li {
      padding: 5px;
   }

   .container ul li button {
      height: 40px;
      width: 80px;
      font-size: medium;
   }

   .holder {
      width: 80%;
      margin-left: 10%;
   }

   .item {
      font-size: 60px;
   }

   .inputpr input {
      width: 60%;
      height: 30px;
      margin-left: -10px;
   }

   .flex {
      margin: 10px;
   }

   .item-img {
      margin: 10px;
      border-radius: 30px;
   }

   .flex2 img p {
      display: block;
   }

   .flex2 {
      margin: 10px;
   }

   .flexbox {
      margin-left: 20%;
      margin-right: 20%;
      padding: 2px;
      margin-top: -30px;
   }

   .flexbox p {
      padding: 10px;
      font-size: 12px;
   }

   footer {
      height: 80px;
   }

   footer .container {
      margin-bottom: -80px;
      height: 40px;
   }
}
